<div class="head">

  <div   [ngStyle]="{ 'background-image': 'url('+ selectedUser.photo +' )'}" class="bgImg">
  </div>
  <div class="controls float-left">
    <i class="fa fa-ellipsis-v "></i>
    <i class="fa fa-chevron-up"></i>
  </div>
  <button type="button" class="btn btn-outline-light editBtn">
    ویرایش اطلاعات
    <i class="material-icons">
      edit
    </i>
  </button>
  <p class="name">{{selectedUser.name}}</p>
  <img src="{{selectedUser.photo}}" class="userImg" alt="" srcset="">
</div>
<div class="detail-body" dir="rtl">
  <mat-tab-group>
    <mat-tab label="اطلاعات شخصی">
      <div class="drawer">

        <mat-drawer-container class="example-container">
          <mat-drawer mode="side" opened>
            <user-side-nav  (selectedItem)='pageHandeler($event)'></user-side-nav>
          </mat-drawer>
          <mat-drawer-content>
            <app-user-info *ngIf='selectedComponent == "userInfo"'></app-user-info>
            <app-user-address *ngIf='selectedComponent == "userAddress"'></app-user-address>
            <app-user-contact *ngIf='selectedComponent == "contactInfo"'></app-user-contact>
          </mat-drawer-content>
        </mat-drawer-container>
      </div>
    </mat-tab>
    <mat-tab label="اطلاعات پرسنلی"> </mat-tab>
  </mat-tab-group>
</div>