<div class="addressBox">
    <div class="head">
        <button type="button" class="btn btn-primary float-left">افزودن آدرس</button>
        <div class="ctrls float-right">
          <mat-checkbox class=""></mat-checkbox>
          <i class="fa fa-trash"></i>
        </div>
    </div>
    <div class="address">
        <i class="fa fa-ellipsis-v float-left"></i>
        <mat-checkbox class=""></mat-checkbox>
        <p class="city">شماره تلفن</p>
        <p class="addr">0910-1722342</p>
    </div>
    <div class="address">
        <i class="fa fa-ellipsis-v float-left"></i>
        <mat-checkbox class=""></mat-checkbox>
        <p class="city">ایمیل</p>
        <p class="addr">1mognia@gmail.com</p>
    </div>
  </div>